.container {
  max-width: 600px;
  margin: 0 auto;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}

.imageItem {
  position: relative;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
